*
{
  
  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  

}
body
{
  background: rgb(255,65,0);
  background: radial-gradient(circle, rgba(255,65,0,1) 0%, rgba(0,0,0,1) 100%);
  z-index: -1;
  
}

.App
{
  padding-bottom:100px;
}

.page_view
{
  
  background-color: #222;
  border-radius:15px;
  margin: auto auto;
  color: white;
  padding: 0 35px;
  width:95%;
    
    
    
  
  
}